title
{
	color: #545351;
}
body
{
	margin: 0;
	padding: 0;
	background: #000;
}
.button
{
		position:absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 200px;
		height: 60px;
		text-align: center;
		line-height: 60px;
		color: #fff;
		font-size: 24px;
		text-transform: uppercase;
		text-decoration: none;
		font-family: sans-serif;
		box-sizing: border-box;
		background: linear-gradient(90deg,#03a9f4, #f441a5, #ffeb3b, #03a9f4);
		background-size: 400%;
		border-radius:30px;
}
.button:hover	
{
	animation: animate	8s linear infinite;
}

@keyframes animate
{
	0%
	{
		background-position: 0%;
	}
	100%
	{
		background-position: 400%;
	}
}

.button:before
{
	content: '';
	position:absolute;
	top: -5px;
	left: -5px;
	right: -5px;
	bottom: -5px;
	z-index: -1px;
	background: linear-gradient(90deg,#03a9f4, #f441a5, #ffeb3b, #03a9f4);
	background-size: 400%
	border-radius:30px;
	opacity: 0;
	transition: 0.5s;
	cursor: pointer;
}
	.button:hover;before
{
	filter:blur(20px);

}
/*h3
{
	text-align: center;
	background-position: #545351;
	border-radius: 10px;
}*/

}
h1{
	margin:	0%
	font-size:60px;
	color: #fffff;
	font-family: monospace;
	text-align: center;
	text height: 100vh

}

div{
	background-color: red;
}

section {
	background: black;
	display: flex;
	flex-direction: row;
}

.href {

}
/*ul{
	padding: 0px;
	margin-right: 0px;
	text-align: center;

}*/
/*ul li{
	list-style: none;
	border: 2px	solid #fff;
	font-size:15px;
	font-weight: bold;
	margin:10px;
	border border-radius: 15px;
	font-family: monospace;
	border: 2px   solid	   rgb	    (0,255,30,50,0,5);
	background-color: rgb(0,255,0,1);	
	box-shadow: 0px 0px 10px  rgb(),
	text-align	center	*/
/*
ul li a {
	text-decoration: none;
	padding: 15px	35px;
/*	display: block;
	text-align: center;
	}*/
/*	ul li
	list-style:none;
	padding 15px
	padding 30px
}
}
*/*/